Repository morpho-org/morpho-optimizers, pull requests merged in 2023-01, with the labels that each got.

#1623 🔥 (#1565) Remove incentives vault from Compound
  config/eth-mainnet/compound/Config.sol
  scripts/aave-v2/Deploy.s.sol
  scripts/compound/Deploy.s.sol
  snapshots/.storage-layout-compound
  src/compound/IncentivesVault.sol
  src/compound/Morpho.sol
  src/compound/MorphoGovernance.sol
  src/compound/MorphoStorage.sol
  src/compound/interfaces/IIncentivesVault.sol
  src/compound/interfaces/IMorpho.sol
  test/compound/TestGovernance.t.sol
  test/compound/TestIncentivesVault.t.sol
  test/compound/TestRewards.t.sol
  test/compound/helpers/IncentivesVault.sol
  test/compound/setup/TestSetup.sol
  test/prod/compound/setup/TestSetup.sol
Labels: 🧪 testing, 🟢 compound

#1629 refactor: remove supply and borrow guard
  src/aave-v2/EntryPositionsManager.sol
  src/aave-v2/libraries/aave/ReserveConfiguration.sol
  test/aave-v2/TestBorrow.t.sol
  test/aave-v2/TestSupply.t.sol
Labels: 🧪 testing, 👻 aave-v2

#1633 Only match delta in Lens if p2p enabled
  src/aave-v2/lens/RatesLens.sol
  src/compound/lens/RatesLens.sol
Labels: 👻 aave-v2, 🟢 compound

#1638 Gas optimisation
  src/aave-v2/libraries/InterestRatesModel.sol
Labels: 👻 aave-v2

#1639 chore: add `allMarkets` to Comptroller interface
  src/compound/interfaces/compound/ICompound.sol
Labels: 🟢 compound

#1636 Consider impact on pool rates when calculating future rates
  config/eth-mainnet/compound/Config.sol
  src/aave-v2/interfaces/aave/IReserveInterestRateStrategy.sol
  src/aave-v2/interfaces/aave/IStableDebtToken.sol
  src/aave-v2/lens/LensStorage.sol
  src/aave-v2/lens/RatesLens.sol
  src/compound/interfaces/compound/ICompound.sol
  src/compound/lens/IndexesLens.sol
  src/compound/lens/Lens.sol
  src/compound/lens/LensExtension.sol
  src/compound/lens/LensStorage.sol
  src/compound/lens/RatesLens.sol
  src/compound/lens/RewardsLens.sol
  src/compound/lens/UsersLens.sol
  src/compound/lens/interfaces/ILens.sol
  src/compound/lens/interfaces/ILensExtension.sol
  test/aave-v2/TestRatesLens.t.sol
  test/aave-v2/setup/TestSetup.sol
  test/compound/TestRatesLens.t.sol
  test/compound/TestUpgradeable.t.sol
  test/compound/setup/TestSetup.sol
  test/prod/aave-v2/TestDeltas.t.sol
  test/prod/aave-v2/TestLifecycle.t.sol
  test/prod/aave-v2/TestUpgradeLens.t.sol
  test/prod/compound/TestDeltas.t.sol
  test/prod/compound/TestLifecycle.t.sol
  test/prod/compound/TestUpgradeLens.t.sol
  test/prod/compound/setup/TestSetup.sol
Labels: 🧪 testing, 👻 aave-v2, 🟢 compound

#1640 Remove useless files
  .github/workflows/ci-foundry-aave-v2-upgrade.yml
  .github/workflows/ci-foundry-aave-v2.yml
  .github/workflows/ci-foundry-compound-upgrade.yml
  .github/workflows/ci-foundry-compound.yml
  Makefile
  config/BaseConfig.sol
  config/aave-v2/Config.sol
  config/compound/Config.sol
  config/goerli/compound/Config.sol
  config/polygon-mumbai/aave-v2/Config.sol
  config/ropsten/compound/Config.sol
  export_env.sh
  remappings.txt
  scripts/aave-v2/Deploy.s.sol
  scripts/compound/Deploy.s.sol
  test/aave-v2/setup/TestSetup.sol
  test/common/TestDoubleLinkedList.t.sol
  test/compound/setup/TestSetup.sol
  test/prod/aave-v2/TestDeltas.t.sol
  test/prod/aave-v2/setup/TestSetup.sol
  test/prod/compound/setup/TestSetup.sol
Labels: 🧪 testing, ⚙️ ci

#1641 Resolve conflicts
  .github/workflows/ci-foundry-aave-v2-upgrade.yml
  .github/workflows/ci-foundry-aave-v2.yml
  .github/workflows/ci-foundry-compound-upgrade.yml
  .github/workflows/ci-foundry-compound.yml
  Makefile
  config/BaseConfig.sol
  config/aave-v2/Config.sol
  config/compound/Config.sol
  config/goerli/compound/Config.sol
  config/polygon-mumbai/aave-v2/Config.sol
  config/ropsten/compound/Config.sol
  export_env.sh
  remappings.txt
  scripts/aave-v2/Deploy.s.sol
  scripts/compound/Deploy.s.sol
  src/compound/interfaces/compound/ICompound.sol
  test/aave-v2/setup/TestSetup.sol
  test/common/TestDoubleLinkedList.t.sol
  test/compound/setup/TestSetup.sol
  test/prod/aave-v2/setup/TestSetup.sol
  test/prod/compound/setup/TestSetup.sol
Labels: ⚙️ ci, 👻 aave-v2
